:host {
  display: block;
  height: 100%;
  width: 100%;
}

#main-svg {
  height: 100%;
  width: 100%;
}

.axis-segment-line {
  stroke-width: 3px;
}

.axis-segment-box {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.axis-segment-box:hover {
  opacity: 0.1;
}

.ribbon {
  cursor: pointer;
}
